body{
  background: white;
}
h1{
  color: white;
  font-family: Futura;
  font-size: 60px;
}// Specific CSS for your home-page
#text{
  position: absolute;
  top: 200px;
  right: 300px;
}
#text2{
  position: absolute;
  top: 200px;
  right: 80px;
  color: #F7050C;
  background: white;
  border-radius: 5px;
  padding: 0 10px;
}
#text3{
  position: absolute;
  top: 300px;
  right: 250px;
  color: #F7050C;
  font-size: 80px;
  background: white;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 25px;
  border: 2px solid #F7050C;
}
#bild{
  position: relative;
  width: 100%
}
.btn-primary{
  background: #F7050C;
  color: white;
  border: none;
  position: absolute;
  top: 600px;
  right: 210px;
  padding: 20px 30px;
  border-radius: 10px;
  font-family: Futura;
  &:hover{
    background: #F7050C;
    opacity: 0.8;
  }
  &:active{
    background: #F7050C;
    opacity: 0.8;
  }

}
